/* .accrodian_sample .MuiPaper-root.MuiAccordion-root {
    width: 70%;
  }
  
  .accrodian_sample .MuiAccordionSummary-content {
    color: orange;
  }
  
   .accrodian_sample .MuiAccordionActions-root .MuiButton-root:first-of-type {
    color: darkorange;
  }
  
  .stepper_sample .MuiSvgIcon-root.MuiStepIcon-root.Mui-active {
    color: black ;
}

.stepper_sample .MuiSvgIcon-root.MuiStepIcon-root.Mui-completed {
    color: black;
}  */